@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-border-gradient {
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #ffffff, rgb(59 130 246), #ffffff);
 }

 .fade-in {
  animation: fadeIn .3s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}